<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>703086614292-ei96nga0jhf1mp8ib638vtq1qb5f7sag.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.703086614292-ei96nga0jhf1mp8ib638vtq1qb5f7sag</string>
	<key>API_KEY</key>
	<string>AIzaSyDus_CAPz9WvmX0CnBAd_HxWauApnsOrcc</string>
	<key>GCM_SENDER_ID</key>
	<string>703086614292</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>uniqueHello.IOSFinalProject</string>
	<key>PROJECT_ID</key>
	<string>ios-team-project</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-team-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:703086614292:ios:34576276cbe9d253c89401</string>
	<key>DATABASE_URL</key>
	<string>https://ios-team-project.firebaseio.com</string>
</dict>
</plist>